<nav>
    <div class="nav-warpper">
        <a href="a" class="brand-logo">Приложение курсов</a>
        <ul id="nav-mobile"  class="right hide-on-med-and-down">
            <li class="active">
                <a href="/">главная</a>
            </li>

            <li>
                <a href="/courses">курсы</a>
            </li>
            <li>
                <a href="/add">добавить курс</a>
            </li>
        </ul>
    </div>
</nav>